<nav id="sidebar" class="active">
	<div id="notesgate">
		<a href="/">NG</a>
	</div>
	<table class=buttons-editor-menu>
		<tbody>
			<tr>
				<td><a href="/note/write" type="button">write</a></td>
			</tr>
			<tr>
				<td><a href="/board" type="button">Board</a></td>
			</tr>
			<tr>
				<td><a href="/" type="button">Trash</a></td>
			</tr>
			<tr>
				<td><a href="/" type="button">Set</a></td>
			</tr>
		</tbody>
	</table>
</nav>