    <nav id="searchbar" class="navbar navbar-light bg-light col-lg-12">
    	<div class="col-8 align-center">
    		<input class="width-full form-control" type="search" placeholder="Search" aria-label="Search">
    	</div>
    </nav>