    <nav id="searchbar" class="navbar col-lg-12">
    	<div class="col-8 shadow-5 center card pull-up ecom-card-1 bg-white">
    		<input id="inSearchbar" class="width-full form-control" type="search" placeholder="Search" aria-label="Search">
    	</div>
	</nav>
	

	