<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Hello NotesGate</title>
	{{ style('assets/theme/css/bootstrap.css') }}
	{{ style('assets/global/css/app.css') }}
	{{ style('assets/global/css/component.css') }}


	{{ style('assets/components/leftbar/css/style-app.css') }}
	{{ style('assets/components/searchbar/css/searchbar.css') }}
	{{ style('assets/global/css/media.css') }}
	@!section('style')
</head>

<body>
	<div id=web-content class="wrapper">
		@include('layout._leftbar')
		@!section('content')
	</div>

	{{ script('assets/theme/js/jquery-3.js') }}
	{{ script('assets/theme/js/bootstrap.js') }}

	@!section('script')

</body>

</html>