.float-button-save {
	position: fixed;
	bottom: 40px;
}

.show-menu {

	position: relative;

	display: flex;

	right: 311%;
}

.fade-menu {
	position: absolute;
	width: 92%;
	height: 100%;
	top: 0;
}

#buttonSave {
	float: right;
}