.float-button-save {
	position: fixed;
	bottom: 40px;
	right: 28px;
}
.float-right{
	float: right;
}
.show-menu {
	position: relative;
	display: flex;
	right: 311%;
}

.fade-menu {
	position: absolute;
	width: 92%;
	height: 100%;
	top: 0;
}
.section-image{
	/* height: 400px; */
	text-align: center;
}

.section-image img{
    max-width: 95%;
    max-height: 95%;
}

#buttonSave {
	float: right;
}

.title-note{
	font-size: 40px !important;
}
.text-note{
	font-size: 25px !important;
}