html,
body {
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;
}

.width-full {
	width: 100%;
}

.align-center {
	margin: auto;
}

.text-align-center {
	text-align: center;
}

.color-white {
	background-color: #fafafa !important;
}

.text-content {
	word-wrap: break-word;
	word-break: break-all;
}

[contenteditable]:focus {
	outline: 0px solid transparent;
}

#web-content {
	width: 100%;
	height: 100%;
}

#content-page {
	margin-top: 5%;
}