.width-full {
	width: 100%;
}

.align-center {
	margin: auto;
}

.text-align-center {
	text-align: center;
}

.color-white {
	background-color: #fafafa !important;
}



#content-page {
	margin-top: 5%;
}