.padding-left-auto {
	padding-left: 150px;
}

#content {
	width: 95%;

	margin-left: auto;
}

.single-card {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

}

.full {
	width: inherit !important;
	height: inherit !important;
}