.center-flex {
	width: 100%;
	height: 100%;

	display: inline-flex;
}

.card {
	padding: 5%;
}

.margin-auto {
	margin: auto;
}

.btn-confirm {
	width: 90px;
	padding: 10px;
	border: none;
	font-size: 20px;
	text-align: center;
	align-items: center;
	color: black;
	background-color: #b7b7b7;
}