<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
	{{ style('assets/theme/css/bootstrap.css') }}
	{{ style('assets/global/css/app.css') }}
	{{ style('assets/global/css/component.css') }}


</head>

<body>
	<div class="container full">
		<div class="single-card col-lg-3 col-md-5 col-sm-3">
			<form method="POST" action="{{route('/login/store')}}">
				{{csrfField()}}

				<div class="form-group">
					<label for="email">Email address</label>
					<input name=email type="email" class="form-control" aria-describedby="email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input name=password type="password" class="form-control" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<button class="btn btn-primary"><a class="menu-link" href="/register">Register</a></button>
			</form>
		</div>
	</div>
	{{ script('assets/theme/js/jquery-3.js') }}
	{{ script('assets/theme/js/bootstrap.js') }}
</body>

</html>