#searchbar {
	position: relative;
	margin: auto;
	z-index: 1000;
	transition: top 0.5s;
	height: 100px;
	background-color: none;
}

.display-none {
	display: none;
}

#inSearchbar{
	height: 50px;
	border: none;
}
