<!DOCTYPE html>
<html lang="en" style="width:100%;height:100%;margin:0;padding:0;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>NotesGate | Email Verification </title>
</head>

<body style="width:100%;height:100%;padding:0;position:fixed;" bgcolor="white">

	<div style="width:100%;height:100%;min-width:100%;color:#313a45;">
		<center style="width:70%;height:70%;margin:10% auto;min-width:180px">
			<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
				class="m_-5547740771758297643body"
				style="width:100%!important;min-width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;color:#313a45;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;line-height:1.4;margin:0;padding:0"
				bgcolor="white">
				<tbody>
					<tr style="padding:0">
						<td align="center" valign="top" class="m_-5547740771758297643email-container"
							style="width:100%!important;min-width:100%;word-break:break-word;border-collapse:collapse!important;margin:0;padding:20px 10px">

							<table border="0" cellpadding="0" cellspacing="0" class="m_-5547740771758297643email-body"
								style="border-spacing:0;border-collapse:collapse;table-layout:auto;border-radius:8px;padding:0"
								bgcolor="#fff">
								<tbody>
									<tr style="padding:0;">
										<td align="center" valign="middle" class="m_-5547740771758297643header"
											style="border: #313a45;border-style: outset;word-break:break-word;border-collapse:collapse!important;height:15px;padding:0"
											bgcolor="#313945">
											<a rel="noopener noreferrer"
												href="https://u8208408.ct.sendgrid.net/wf/click?upn=jtK4xspvdLQ5LRerf-2FfZEJHo-2BP2clDAaycPnw-2F37mPc-3D_fFj6zmvV4YF2cDKlcG06xv57uTOo-2FVP5BvltHxr1E9ruxdbV5QdRrDsUI5qrIVKPhI16I4-2FyZKlzQgJ-2BBZzNpQN9PVr8kJYtowArfJAoHUyLhxB5C940G-2FfSHPMF2D3RUjWJO34Q-2BGe35GsMafVonZSOJis08EZLPIj72iR3Ur0oR-2BzbCDfrZIX0D6A5OezdqFNahw0xbJSeeWm-2F0rmVJ2fC0upGJHweFOLc5C0QJhMR3ctesaFxES6DHg7-2BKWg5yFAY7hIE-2BV0q-2FOyahv2VjA-3D-3D"
												style="color:#00b2b2;text-decoration:none" target="_blank"
												data-saferedirecturl="https://www.google.com/url?q=https://u8208408.ct.sendgrid.net/wf/click?upn%3DjtK4xspvdLQ5LRerf-2FfZEJHo-2BP2clDAaycPnw-2F37mPc-3D_fFj6zmvV4YF2cDKlcG06xv57uTOo-2FVP5BvltHxr1E9ruxdbV5QdRrDsUI5qrIVKPhI16I4-2FyZKlzQgJ-2BBZzNpQN9PVr8kJYtowArfJAoHUyLhxB5C940G-2FfSHPMF2D3RUjWJO34Q-2BGe35GsMafVonZSOJis08EZLPIj72iR3Ur0oR-2BzbCDfrZIX0D6A5OezdqFNahw0xbJSeeWm-2F0rmVJ2fC0upGJHweFOLc5C0QJhMR3ctesaFxES6DHg7-2BKWg5yFAY7hIE-2BV0q-2FOyahv2VjA-3D-3D&amp;source=gmail&amp;ust=1556770588636000&amp;usg=AFQjCNHX32T51lPeNpOwyCGlcbJ8pnzQ-Q">
											</a>
										</td>
									</tr>
									<tr style="padding:0;border: #313a45;border-style: outset;">
										<td align="left" valign="top" class="m_-5547740771758297643content"
											style="word-break:break-word;border-collapse:collapse!important;padding:50px 50px 40px">

											<h1 class="m_-5547740771758297643by-center"
												style="word-break:normal;line-height:30px;font-size:28px;font-weight:bold;padding-bottom:40px;margin:0"
												align="center">Hi {{username}}</h1>

											<p class="m_-5547740771758297643lead m_-5547740771758297643by-center"
												style="font-size:23px;font-weight:normal;line-height:30px;padding-bottom:40px;margin:0"
												align="left">Welcome to NotesGate! You're almost ready to use it;
												<br>
												<br>
												click the button to confirm your account </p>

											<a style="cursor: pointer;padding:10px 15px 10px 15px;color:white;width:100px;height:35px;background-color:#313945;border:none;border-radius:3px 3px 3px 3px"
												href="localhost/api/redirect.php?notesgate/feature/verify/?e={{email}}&q={{verified}}">
												Confirm

											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</center>
	</div>

</body>

</html>